/* ==========================================================================
Author's custom styles
========================================================================== */

body{
	padding-top:70px;
}

.navbar{
	background-color: #000015;
	height:70px;
	padding:0 50px;
}

.title{
	color:white;
	font-family: 'Oswald', sans-serif;
	margin-left:50px;
	font-size:35px;
	padding-top:8px;
	float:left;
	position:relative;
	font-weight:400;
	letter-spacing:.05em;
}

.navlist{
	font-family: 'Oswald', sans-serif;
	font-weight:300;
}

h1.aboutHead{
	font-family: 'Oswald', sans-serif;
	font-weight:700;
	font-size:70px;
	border-bottom:black solid 5px;
	padding-bottom:20px;
}

.about{
	font-family: 'Source Sans Pro', sans-serif;
	font-weight:300;
	line-height:1.7em;
}

.body{
	font-size:21px;
	padding-top:25px;
}

.body2{
	font-size:17px;
	padding-top:25px;
}

.skills{
	font-size:13px;
	padding-top:25px;	
}

a{
	text-decoration:none;	
}
a:link, a:visited, a:active{
	color:white;	
}
a:hover{
	color:#7994B5;
}

.portfolio{
	position:relative;
	float:left;
	width:100%;
	height:100%;
}

.portfolio li,
.portfolio .row{
	height:100%;
}

span.hovertext{
	background: rgba(0,0,0,0.8);
	font-family: 'Oswald', sans-serif;
	font-weight:400;
	color: white;
	left: 0;
	position: absolute;
	top: 0;
	opacity: 0;
	-webkit-transition: opacity 500ms;
	-moz-transition: opacity 500ms;
	-o-transition: opacity 500ms;
	transition: opacity 500ms;
	font-size:60px;
}


.portfolio li:hover span.hovertext{
	opacity: 1;

}

.portImg{
	width:100%;
}

.clearing{
	clear:both;	
}

.portfolio li img{
	height:100%;
	width:auto;	
}

.skrollrSlide{
	height:100%;
}


/* ==========================================================================
Parallax Scroll Courtesy of IHateTomatoes
========================================================================== */
body, html{
	height: 100%;
	min-height: 100%;
	background-color: #000000;
}
.loading{
	background: url('../img/ico_loading.gif') no-repeat center center;
}

.loaded section,
.no-js section{
	opacity: 1;
	-webkit-transition: opacity 300ms ease-out;
	-moz-transition: opacity 300ms ease-out;
	transition: opacity 300ms ease-out;
}

.bcg{
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height: 100%;
	width: 100%;
}

.hsContent h2 {
	color: white;
	font-family: 'Oswald', sans-serif;
	font-weight:300;
	padding: 10px 5px;
	font-size: 35px;
	line-height: 38px;
	margin-bottom: 12px;
}

/* Slide 1 */
#slide-1 .bcg{background-image:url('../img/katiephoto1.jpg');}
#slide-1 .hsContent{
	position:absolute;
	bottom:0;
	right:50%;
}

/* Slide 2 */
#slide-2 .bcg{
	background-color:black;
	height:auto;
}
#slide-2 .hsContent{
}
#slide-2 h2{
	position: absolute;
}
/* Slide 3 */

#slide-3 .bcg{background-color:white;}
#slide-3 .hsContent{

	position:relative;
	margin-left:auto;
	margin-right:auto;
	margin-top:100px;
	width:960px;
}
#slide-3 h2{
	color: #f2ead6;
	background-color: rgba(0,0,0,0.6);
}

/* Slide 4 */
#slide-4 .bcg{background-image:url('../img/bcg_slide-4.jpg');}
#slide-4 .hsContent{
	margin-left: -450px;
	position: absolute;
	top: 250px;
	z-index:0;
}
#slide-4 h2{
	background: none;
	padding-left: 0;
	padding-right: 0;
}
