/* ==========================================================================
Author's custom styles
========================================================================== */

body, html{
	height: 100%;
	min-height: 100%;
	background-color: #000000;
}

body{
	padding-top:70px;
}



.bcg{
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height: 100%;
	width: 100%;
}

.skrollrSlide{
	height:100%;
}
/**** Typography ****/

h1{
	font-family: 'Oswald', sans-serif;
	font-weight:700;
	font-size:70px;
	border-bottom:black solid 5px;
	padding-bottom:20px;
}


/*
.hsContent h2 {
	color: white;
	font-family: 'Oswald', sans-serif;
	font-weight:300;
	padding: 10px 5px;
	font-size: 35px;
	line-height: 38px;
	margin-bottom: 12px;
}
*/
h2{	font-size:21px;
	padding-top:25px;}

h3{	font-size:17px;
	padding-top:25px;}

h4{}

p{
	font-size:13px;
	padding-top:25px;	
}

a{
	text-decoration:none;	
}
a:link, a:visited, a:active{
	color:white;	
}
a:hover{
	color:#7994B5;
}

/**** Navigation ****/
.navbar{
	background-color: #000015;
	height:70px;
	padding:0 50px;
}


/**** Intro ****/

#intro figure{
	position:absolute;
	bottom:50px;
	text-align:center;
}

/**** Portfolio ****/

#portfolio ul{
	position:relative;
	float:left;
	width:100%;
	height:100%;
}

#portfolio ul li,
#portfolio ul .row{
	height:100%;
}

span.hovertext{
	background: rgba(0,0,0,0.8);
	font-family: 'Oswald', sans-serif;
	font-weight:400;
	color: white;
	left: 0;
	position: absolute;
	top: 0;
	opacity: 0;
	-webkit-transition: opacity 500ms;
	-moz-transition: opacity 500ms;
	-o-transition: opacity 500ms;
	transition: opacity 500ms;
	font-size:60px;
}


#portfolio ul li:hover span.hovertext{
	opacity: 1;

}

#portfolio ul li img{
	height:100%;
	width:auto;	
}


/**** About ****/

#about{
	background-color:white;
}



/* ==========================================================================
Loading Image
========================================================================== */
.loading{
	background: url('../img/ico_loading.gif') no-repeat center center;
}

.loaded section,
.no-js section{
	opacity: 1;
	-webkit-transition: opacity 300ms ease-out;
	-moz-transition: opacity 300ms ease-out;
	transition: opacity 300ms ease-out;
}